---
---

@import "{{ site.theme }}";

body {
  background-color: #ffe6f0;
  background-image:
    radial-gradient(#ff4d88 10%, transparent 11%),
    radial-gradient(#ff4d88 10%, transparent 11%);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}
